.ToggleGroup {
    display: flex;
    flex-direction: row;
    border-radius: 0.625rem;
    overflow: hidden;
    margin: 0.1rem;
    max-width: 100%;
    justify-self: center;
    cursor: pointer;
}

.ToggleGroup .GlowToggle:not(:first-of-type) {
    border-left: 1px solid rgba(238, 238, 238, 0.5);
}
