.PartialFaceSelect[data-type="uv"] .PartialFaceSelect-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: auto;
    margin-top: 1rem;
    max-width: 16rem;
}

.PartialFaceSelect .PartialFaceSelect-body div {
    cursor: pointer;
}

.PartialFaceSelect[data-type="meshes"] {
    max-width: 30rem;
}

.PartialFaceSelect[data-type="meshes"] .PartialFaceSelect-body {
    padding: 0.5rem;
}

.PartialFaceSelect[data-type="meshes"] .MeshFaceButton {
    padding: 0.5rem 0;
}
