.MuiDialogContent-root.AnimationSelect-content {
    width: 100%;
    padding: 0;
}

.AnimationSelect-content .MuiBox-root {
    padding: 0.5rem 1rem;
}

.AnimationSelect-categories {
    display: grid;
    grid-template-columns: minmax(5rem, 25%) auto;
    max-width: 40rem;
}

.AnimationSelect-categories .MuiTabs-root button {
    min-width: 0;
}

.AnimationSelect-subCategory {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
}

.AnimationSelect-categories div p {
    width: 40rem;
}

.AnimationSelect-subCategory button {
    margin: 0.2rem;
    flex: 1 1 auto;
}

.AnimationSelect-Standby {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
