.TextureController {
    background-color: #10101077;
    max-width: 100%;
    overflow-x: hidden;
    flex-shrink: 0;
}

.TextureController .Setters-label {
    color: white;
}

.TextureController .SetFromList fieldset.MuiOutlinedInput-notchedOutline {
    border: 1px solid rgba(0, 0, 0, 0.23);
}
