.AdvancedSettingsGroup {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0.8rem;
}

.AdvancedSettingsGroup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.AdvancedSettingsGroup-title {
    text-align: center;
    font-weight: 600;
    margin: auto;
}

.AdvancedSettingsGroup-options {
    display: grid;
    grid-template-columns: 8rem auto;
}

.AdvancedSettingsGroup-optionName {
    padding: 0.5rem 0.8rem;
}

.AdvancedSettingsGroup-slider {
    padding: 0 1.5rem 0 0.3rem;
}

.AdvancedSettingsGroup-reset {
    display: flex;
    justify-content: center;
}
