.App {
    text-align: center;
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.MuiDialog-paper.ControlPanel {
    margin: 1rem 0.5rem;
    min-width: 16rem;
}

.MuiDialog-paper.Modal {
    margin: 1rem 0.5rem;
    min-width: 16rem;
}

.MuiButton-root {
    min-height: 2.5rem;
}
