.ColorSettings {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    min-height: 17rem;
}

.ColorSettings button {
    border: 1px solid black;
}

.ColorSettings-btn {
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.ColorSettings-common {
    display: flex;
    flex-direction: column;
}
