.DisplayAni {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 0;
    border-top: 2px solid black;
}

.DisplayAni:focus-within {
    background-color: rgba(255, 255, 255, 0.8);
}

.DisplayAni-name {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.25rem;
}

.DisplayAni-topBtns {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.DisplayAni-timeRep {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.DisplayAni-toggleExpand {
    font-size: 0.5rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.DisplayAni-toggleExpand:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
