.Filters {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

.Filters-reset {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.8);
}
