.ShareContent-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ShareContent-textboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ShareContent-QR {
    display: flex;
    width: 100%;
    max-width: 70vw;
    max-height: 70vh;
    justify-content: center;
    flex-wrap: wrap;
}

.ShareContent-CamPos {
    max-width: 30rem;
}
