.SimpleOption {
    border: 0.15rem solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0.5rem 1rem;
}

.SimpleOption:hover {
    border: 0.15rem solid rgba(0, 0, 0, 0.8);
}
