.ModelButton {
    --button-height: 5rem;
    --button-width: 14rem;
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0.1rem;
    margin: 0.5rem 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: var(--button-height);
    width: var(--button-width);
    background-color: white;
    cursor: pointer;
    content-visibility: auto;
    contain-intrinsic-size: var(--button-width) var(--button-height);
    align-self: center;
}

.ModelButton:hover {
    border-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.01);
    box-shadow: 0.1rem 0.1rem 0.3rem black;
}

.ModelButton-name {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0.7rem;
    font-weight: 500;
    font-size: larger;
}

.ModelButton-icon {
    height: 100%;
    width: auto;
}

.ModelButton[data-value]:hover::after {
    content: attr(data-value);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.2rem;
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.2s forwards ease-in 1s 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
