.ChainMaker-header {
    position: sticky;
    top: 2.75rem;
    background-color: #101010ee;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
}

.ChainMaker-title {
    display: flex;
    height: 3rem;
    padding-right: 3rem;
    padding-left: 0.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.ChainMaker-target {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
    padding: 0.2rem;
}

.ChainMaker-target button {
    display: flex;
    flex-wrap: wrap;
    color: #eee;
    gap: 0.2rem;
    flex: 1 0;
    justify-content: flex-start;
}

.ChainMaker-target button .name {
    flex: 1 0;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.ChainMaker-target button img {
    max-height: 2.5rem;
}

.ChainAniList {
    margin-top: 0.5rem;
}

.ChainAni .Accordion-summary {
    position: relative;
    padding-right: 3rem;
    min-height: 1.5rem;
}

.ChainAni .Accordion-summary svg {
    color: white;
}

.ChainAni-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.2rem 0;
    flex: 1;
}

.ChainAni-advanced {
    background-color: #ffffffdd;
    display: flex;
    width: 100%;
    gap: 0.2rem;
}

.ChainAni .Accordion {
    width: 100%;
    background-color: #ffffff11;
}

.ChainAni .Accordion.open {
    background-color: #ffffff33;
}

.ChainAni .Accordion:hover {
    background-color: #ffffff55;
}

.ChainAni .Accordion:not(.open):hover {
    background-color: #ffffff44;
}

.ChainAni .Accordion .Accordion-summary {
    background-color: #ffffff33;
    justify-content: center;
}

.ChainAni .Accordion .Accordion-details {
    background-color: #ffffffcc;
}

.ChainAni .Accordion .SetNumbers {
    width: 100%;
}

.ChainAni .Accordion .duration-slider {
    min-width: 80%;
    max-width: 100%;
    padding: 0.2rem 0.5rem;
}

.ChainAniFace {
    width: 100%;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: 2rem auto 64px 64px;
    color: black;
}

.ChainAniFace > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
