.UniqueByWeapon {
    padding: 0.3rem 0.3rem;
}

.UniqueByWeapon-Selectors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.UniqueByWeapon-Selectors hr {
    width: 100%;
}

.UniqueByWeapon-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
