.WeaponAni {
    padding: 0.3rem 0.3rem;
    text-align: center;
}

.WeaponAni-Selectors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.WeaponAni-Btns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.WeaponAni-Btns p {
    width: 40rem;
    text-align: center;
}
