.IconTabBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #10101088;
}

.IconTabBar.horizontal {
    flex-direction: row;
}

.IconTabBar.vertical {
    flex-direction: column;
}

.IconTabBar button {
    display: flex;
    gap: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex: 1 1;
    min-width: 2.5rem;
    max-width: 3rem;
    min-height: 2.5rem;
    border: none;
    border-left: 1px solid #eee4;
    border-right: 1px solid #eee4;
}

.IconTabBar button svg {
    color: #ccca;
}

.IconTabBar button.selected svg {
    color: #fff;
    filter: drop-shadow(0 0 3px white);
}

.IconTabBar button:hover {
    background-color: #fff2;
}

.IconTabBar button:hover svg {
    color: #eee;
    transform: scale(1.05);
}
