.BodyPartsController {
    background-color: #10101077;
    max-width: 100%;
    overflow-x: hidden;
    flex-shrink: 0;
}

.BodyPartsController .Setters-label {
    color: white;
}

.BodyPartsController .SetFromList fieldset.MuiOutlinedInput-notchedOutline {
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.BodyPartsController .Accordion .Accordion-summary {
    justify-content: center;
}

.BodyPartsController .Accordion .Accordion-details {
    padding: 0;
}

.BodyPartsController .ToggleGroup {
    flex-wrap: wrap;
}

.BodyPartsController .ToggleGroup .GlowToggle {
    flex: 1;
}
